#contact-section{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/contactbg.jpg');
    /* background: url('img/contact-bg.jpg'); */
    background-position: center;
  object-fit: cover;
  background-size: cover;
  position: relative;
}
/* #formGroupName::placeholder {
    color: white;
  } */

  input[type="text"]::placeholder ,input[type="number"]::placeholder,textarea[type="text"]::placeholder{
    color: #ddd;
  }
  